.blog-list__content-wrapper{
    display: flex;
    flex-wrap: wrap;
    margin: 10vh 5vw;
    width: 70%;
}
.blog-list__wrapper{
    flex-basis: 50%;
    display: flex;
    align-items:flex-end;
}
.blog-post__container{
    display:  flex;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
}
.blog-list{
    padding: 0 1rem;
}
.blog-post__single-post__wrapper{
    margin: 10vw 10vh;
    width: 90%; 
}