.blog-list__content-wrapper{
    display: flex;
    flex-wrap: wrap;
    margin: 10vh 5vw;
    width: 100%;
}
.blog-list__wrapper{
    flex-basis: 50%;
    display: flex;
    align-items:flex-end;
    padding-bottom:5px;
}
.blog-post__container{
    display:  inline-block;
    /* flex-direction: row; */
    width: 80%;
    /* padding: 0 0 0 20%; */
}
.blog-list{
    padding: 0 1rem;
}
.blog-post__single-post__wrapper{
    margin: 10vh 10vw;
    width: 100%; 
}
/* mobile blog list*/
@media only screen and (max-width: 1000px){
    .blog-list__wrapper{
        flex-basis:100%;
        padding-bottom:5px;
    }
}
@media only screen and (max-width: 500px){
    .blog-list__wrapper{
        display:block;
    }
}