@import url('https://fonts.googleapis.com/css2?family=Charmonman&display=swap');
@font-face{
    font-family: "CrimsonSemibold";
    src: local("CrimsonSemibold"),
    url('../fonts/crimson/OTF/Crimson-Semibold.otf') format("truetype");
    font-weight:bold;
}
@import 'logo.css';
@import 'menu.css';
@import 'blog.css';
@import 'leftFooter.css';
@import 'bottomMobileFooter.css';
body{
    font-family: 'Charmonman', cursive;
}
:root {
    --grey: #54595F;
}
*, *::before, *::after {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    color: var(--grey);
}
.contact{
    padding-right:50px;
    text-align:right;
    font-size: 2rem;
    border-bottom: 1px solid #999999;
}
/* fix problem with menu: */
img{
    z-index:-1;
    max-width: 100%;
}
/* fix probllem with display images on the post */
.gatsby-resp-image-background-image{
    background-image: none;
}
.blog-list__other-posts{
    margin-top: 10vh;   
    display: block;
    width: 100%;
}