.left-footer{
    width: 20%;
    line-height: 2rem;
    margin-top: 200px;
    border-right: 1px solid #999;
    padding-right: 2vw;
    display: flex;
    flex-direction: column;
}
.left-footer__picture{
    max-width:100%;
}