.menu__items{
    padding: 10px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 60px;
    overflow-y: unset;
    background-color: #f1f1ebd7;
}
.menu__item{
    font-size: 1.3rem;
    padding: 0 2%;
    z-index: 100;
    text-align: center;
}
.menu__item a:hover{
    color:rgb(121, 121, 121);
}
.menu__savoir-vivre{
    padding-top: 14px;
}
.menu__savoir-vivre--hidden{
    visibility: hidden;
    font-size: 1rem;
}
.menu__savoir-vivre__item{
    padding: 10px;
    background-color: #f1f1eb;
    text-align: center;
}
.menu__dress-code{
    padding-top: 14px;
}
.menu__dress-code--hidden{
    visibility: hidden;
    font-size: 1rem;
}
.menu__dress-code__item{
    padding: 10px;
    background-color: #f1f1eb;
    text-align: center;
}
@keyframes myMenu {
    from {opacity: 0.5};
    to {opacity: 1};
}
.menu__item:hover{
    animation: myMenu 4s;
}
/* when user move mouse over menu should show 4 categories, they are hidden default */
.menu__item:hover .menu__dress-code--hidden{
    visibility: visible;
}
.menu__item:hover .menu__savoir-vivre--hidden{
    visibility: visible;
}
.mobile-menu,.mobile-menu__item{
    display: none;
}
/* mobile menu */
@media only screen and (max-width: 900px){
    .menu__items{
        display: none;
    }
    *{
        margin:0;
        padding:0;
    }
    body{
        font-family: Source Sans Pro;
    }
    #sidebar{
        position:absolute;
        width:300px;
        height:100%;
        background: #333;
        left: -300px;
        transition:2s;
    }
    #sidebar.active{
        left:0;
    }
        
    #sidebar ul li {
        list-style: none;
        color:#fff;
        font-size: 20px;
        padding: 20px 24px;
    }
    #sidebar .toggle-btn{
        position: absolute;
        top:30px;
        left:330px;
        cursor: pointer;
    }
    .toggle-btn span{
        width:45px;
        height:4px;
        background:#333;
        display:block;
        margin-top:4px;
    }
    .mobile__link a{color:#fff}
    .blog-post__container{
        margin-top:100px;
    }
}
/* hide button for width more than 900px */
@media only screen and (min-width: 901px){
    .mobile-menu__wrapper{
        display: none;
    }
}