.menu__items{
    padding: 15px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 80px;
    overflow-y: unset;
    background-color: #f1f1ebd7;
}
.menu__item{
    font-size: 1.5rem;
    padding: 0 4%;
    z-index: 100;
}
.menu__item:hover{
    filter: blur(0.7px);
}
.menu__savoir-vivre{
    padding-top: 25px;
}
.menu__savoir-vivre--hidden{
    visibility: hidden;
    margin-top: -5px;
}
.menu__savoir-vivre__item{
    padding: 10px 0;
    border-top: 1px solid #54595F;
    background-color: #f1f1eb;
}
.menu__dress-code{
    padding-top: 25px;
}
.menu__dress-code--hidden{
    visibility: hidden;
    margin-top: -5px;
}
.menu__dress-code__item{
    padding: 10px 0;
    border-top: 1px solid #54595F;
    background-color: #f1f1eb;
}
.menu__item:hover .menu__dress-code--hidden{
    visibility: visible;
}
.menu__item:hover .menu__savoir-vivre--hidden{
    visibility: visible;
}