.blog-post__container{
    display:  inline-block;
    width: 80%;
    margin-bottom: 1vh;
    font-family: 'CrimsonSemibold';
    line-height: 1.5rem;
}
.blog-list__content-wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin: 10vh 5vw;
    width: auto;
}
.blog-list__wrapper{
    flex-basis: 50%;
    display: flex;
    align-items:flex-end;
    padding-bottom:5px;
}
.blog-list{
    padding:0 1px 0 1rem;
}
.blog-post__single-post__wrapper{
    margin: 10vh 5vw;
    width: auto; 
}
/* mobile blog list*/
@media only screen and (max-width: 1200px){
    .blog-list__wrapper{
        flex-basis:auto;
        padding-bottom:5px;
    }
    
}
@media only screen and (max-width: 600px){
    .blog-list__wrapper{
        display:block;
    }
    .blog-list{
        padding:0;
    }
    .blog-list__content-wrapper{
        justify-content: space-around
    }
}